{% extends 'store/main.html' %}
{% load static %}

{% block content %}
            <title>Bootstrap Carousel Dark Variant</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">



<style>
.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: #888;
    background: transparent;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0 5px;
    border: 4px dashed #777;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #6c5ce7;
    background: transparent;
    border-color: #6c5ce7;
}
.pagination li a.page-link:before{
    content: '';
    border: 4px dashed #6c5ce7;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: -4px;
    top: -4px;
    bottom: -4px;
    right: -4px;
    transition: all 0.5s ease 0s;
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before{
    opacity: 1;
    transform: rotate(67deg);
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 5px 0;
    }
}
</style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>

</ol>
<div class="carousel-inner">
    {% for object in obj %}
    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
        <img src="{{ object.image.url }}" style="height: 585px; border-radius: 20px;" class="img-fluid d-block w-100" alt="">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="animate__animated animate__fadeInDown">{{ object.title }}</h1>



            <h3 class="animate__animated animate__zoomIn">{{ object.sub_title }}</h3>
        </div>
    {% endfor %}
    </div>
</div>
</div>
            <hr style="width:0%">
<!-- The form -->


            <hr style="width:0%">


	<div class="row">

		{% for product in products %}
		<div class="col-lg-3">
            <hr style="width:0%">
			<img class="thumbnail" src="{{ product.imageURL }}" style="border-radius: 15px;" alt="">

			<div class="box-element product" id="box_product_element">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart" style="border-radius: 10px;">Add</button>

                <a class="btn btn-outline-secondary" href="{% url 'product-detail' product.category.slug product.slug%}" style="border-radius: 10px;">View</a>				<h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>

			</div>
		</div>

		{% endfor %}


	</div>
    <hr style="width:0">



    {% if products.has_other_pages %}
        <div class="demo">
            <nav class="pagination-outer" aria-label="">
                <ul class="pagination">
                    <li class="page-item">
                    {% if products.has_previous %}
                    <li class="page-item disabled"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;
                    {% else %}
                        {% endif %}

                        <span aria-hidden="true"></span>
                    </a>
                    </li>
                    {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                        {% endfor %}

                    {% if products.has_next %}
                    <li><a class="page-link" href="?page={{ products.next_page_number }}">&raquo;
                        <span aria-hidden="true"></span>
                    </a>
                    </li>
                    {% else %}
                </ul>

            </nav>
                    {% endif %}
        {% endif %}

        </div>



        <hr style="width:0">

        <hr style="width:0">

{% endblock content %}